<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

  <header class="fixed-top" layout:fragment="header">
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-end">
        <a id="logo" th:href="@{/}" class="mr-auto">sample app</a>
        <div>
          <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" th:href="@{/}">Home</a></li>
            <li><a class="nav-link" th:href="@{/help}">Help</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Log in</a></li>
            <th:block sec:authorize="isAuthenticated()">
              <li><a class="nav-link" href="#">Users</a></li>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{'/user/' + ${#authentication.principal.id}}">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" th:href="@{/logout}">Log out</a></li>
                </ul>
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  s
</body>
</html>