<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title th:text="${#applicationHelper.fullTitle(title)}"></title>
    <link th:href="@{/css/application.css}" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"></link>
</head>

<body>
    <div class="container">
        <div th:if="${flash}" th:text="${flash.message}"
            class="alert" th:classappend="${flash.successFlag} ? alert-success : alert-danger"></div>
        <div layout:replace="layout/header::header"></div>
        <div layout:fragment="content"></div>
        <div layout:replace="layout/footer::footer"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>

</html>