/* universal */
body {
    padding: 70px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    cursor: pointer;
    text-decoration: none;
}

.header-item {
    color: gray;
    margin-left: 20px;
}

.header-item:hover {
    text-decoration: none;
    color: #fff;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777777;
}

footer a {
    color: gray;
}

footer a:hover {
    color: black;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer li {
    float: left;
    margin-left: 15px;
}

/* home */
#spring-logo {
    width: 20%;
}

/* forms */
form input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 10px;
}

form label {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: bold;
}

/* sidebar */
aside section.user_info {
    margin-top: 20px;
}

aside section {
    padding: 10px 0;
    margin-top: 20px;
}

aside section h1  {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
}