/* universal */
body {
  padding: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  white-space: nowrap;
}

#logo:hover {
  cursor: pointer;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}

footer a {
  color: gray;
}

footer a:hover {
  color: black;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer li {
  float: left;
  margin-left: 15px;
}

/* home */
#spring-logo {
  width: 20%;
}

.gravatar {
  float: left;
  margin-right: 10px;
  padding-left: 15px;
}

.gravatar_edit {
  margin-top: 15px;
}

.gravatar_edit_img {
  padding-left: 0px;
}

/* forms */
form input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 10px;
}

form label {
  display: inline-block;
  margin-bottom: 2px;
  font-weight: bold;
}

.checkbox {
  width: 20px;
}

label span {
  font-weight: initial;
}

.err-msg {
  color: red;
}

/* sidebar */
aside section.user_info {
  margin-top: 20px;
}

aside section {
  padding: 10px 0;
  margin-top: 20px;
}

aside section h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
}

.users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.pagenation-bar {
  margin: 30px 0;
}