<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layout">

<body>

    <div layout:fragment="content">
        <div class="center jumbotron">
            <h1>Welcome to the Sample App</h1>
            <h2>
                This is the home page for the
                <a href="https://projects.spring.io/spring-boot/">Spring Boot</a>
                sample application.
            </h2>
            <a class="btn btn-lg btn-primary" href="">Sign up now!</a>
        </div>
        <img id="spring-logo" th:src="@{/img/spring.png}" />
    </div>

</body>

</html>
