<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layout">

<body>

    <div layout:fragment="content">
        <h1>Update your profile</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div layout:replace="user/form::form"></div>
                <div class="gravatar_edit">
                    <img th:src="${#userHelper.gravatarFor(user, 80)}" class="gravatar gravatar_edit_img"/>
                    <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
