<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layout">

<body>

    <div layout:fragment="content">
        <h1>All users</h1>
        <ul class="users" th:each="user : ${users}">
            <li>
                <img th:src="${#userHelper.gravatarFor(user, 50)}" class="gravatar"/>
                <a th:href="@{/user}" th:text="${user.name}"></a>
            </li>
        </ul>
    </div>

</body>

</html>
